{% extends 'basic.html' %}
{% load static %}

{% block content %}
    <div class="container mt-80">
        {% if message %}
            <div class="row">
                <div class="offset-2 col-8 mt-1 text-center text-uppercase font-weight-bold">
                    <div class="alert alert-success" role="alert">
                        {{ message }}
                    </div>
                </div>
                <div class="offset-5 text-uppercase font-weight-bold">
                    <a href="{% url 'manage-files' %}">&#8592; Manage files</a>
                </div>
            </div>
        {% else %}
            <div class="row">
                <div class="offset-2 col-md-8 text-center text-uppercase font-weight-bold mb-3">
                    <div class="alert alert-info bold" role="alert">
                        Please, upload a file
                    </div>
                </div>
            </div>
            <div class="offset-4 col-9">
                <div class="row form">
                    <div class="col-md-offset-5 col-md-2 form ml-5">
                        <form method="POST" enctype="multipart/form-data">
                            {% csrf_token %}
                            {{ form }}
                            <button type="submit" class="btn btn-success btn-lg my-3" name="button">Save</button>
                        </form>
                    </div>
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}

{% block js %}
{% endblock %}